@use 'mixins';

.content {
  height: 75vh;
  overflow-y: scroll;
  margin: 0 40px;
  display: flex;

  &__menu {
    display: block;
    margin: 0 107px 0 0;
    position: relative;
    cursor: pointer;
  }

  &__menu-dots {
    position: absolute;
    top: calc(30%);
    left: 0;
  }

  @include mixins.bp(desktop) {
    &__menu {
      display: none;
    }
  }
}

.main-content {
  &__info {
    display: flex;
    justify-content: flex-start;
  }
}